.Sorteador input{
    font-size:'1.4rem';
    width: 50px;
}

.Sorteador button{
    width: 150px;
    height: 50px;
    background-color: rgb(253, 109, 84);
    color: #790909;
    font-size:18px;
    border-color:rgb(249, 115, 92);
    border-radius:5px;
    margin-top: 30px;
}
.Sorteador label{
  margin-left: 50px;

}

.Sorteador h1{
    text-align: center;
    font-size: 5rem;
}
 